extends layout

block content
  tr
    td
      a(href="/upload") Upload file
  tr
    td
      a(href="/push") Push to Firebase
  tr
    td
      a(href="/pushed") See what's been pushed
  if success === 'pushed'
    tr
      td
        div.alert.alert-success Data pushed!
  if success === 'invalid-csv'
    tr
      td
        div.alert.alert-danger Invalid CSV