doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="js/bootstrap-material-design.min.js")
    link(href="css/bootstrap-material-design.min.css", rel="stylesheet")
  body
    block content
