extends layout

block content
  tr
    td
      form(method="post", action="/upload-success", enctype="multipart/form-data")
        div.form-group
          label.bmd-label-floating(for="firebase-csv")
            | File input
          input#firebase-csv.form-control-file(type="file", name="firebase-csv")
        button.btn.btn-primary.btn-raised(type="submit", value="Upload")
          | Submit