extends layout

block content
  div.container
    div.row
      div.col
      div.col-8
        table.table
          thead
            tr
              th(scope="col")
                h1 Upload a new CSV
          tbody
            tr
              td
                form(method="post", action="/", enctype="multipart/form-data")
                  div.form-group
                    label.bmd-label-floating(for="firebase-csv")
                      | File input
                    input#firebase-csv.form-control-file(type="file", name="firebase-csv")
                  button.btn.btn-primary(type="submit")
                    | Submit
      div.col