/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

#csv-results {
  margin-top: -1rem;
}

label p {
  color: #009688;
}

label p:hover {
  color: rgba(0,0,0,.26);
}